{% extends "base.html" %}
{% block title %}NSFW content gated{% endblock %}
{% block sortstyle %}{% endblock %}
{% block content %}
<div id="nsfw_landing">
    <h1>
        &#128561;
        {% if str_eq(res_type.as_str(), "Subreddit") %}
        r/{{ res }} is a NSFW community!
        {% else if str_eq(res_type.as_str(), "User") %}
        u/{{ res }}'s content is NSFW!
        {% else if str_eq(res_type.as_str(), "Post") %}
        This post is NSFW!
        {% endif %}
    </h1>
    <br />

    <p>
        {% if crate::utils::sfw_only() %}
        This instance of Redlib is SFW-only.</p>
        {% else %}
        Enable "Show NSFW posts" in <a href="/settings">settings</a> to view this {% if str_eq(res_type.as_str(), "Subreddit") %}subreddit{% else if str_eq(res_type.as_str(), "User") %}user's posts or comments{% else if str_eq(res_type.as_str(), "Post") %}post{% endif %}. <br>
        {% if str_eq(res_type.as_str(), "Post") %} You can also temporarily bypass this gate and view the post by clicking on this <a href="{{url}}&bypass_nsfw_landing">link</a>.{% endif %}
        {% endif %}
    </p>
</div>
{% endblock %}
{% block footer %}
{% endblock %}

